@use '../abstracts' as *;
@use '../components' as *;


//HEADER
#sticky-header{
    position: fixed;
    left: 0;
    top: -100px;
    background-color: $white;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    width: 100%;
    opacity: 0;
    transition: top 1s ease;
    animation-name: fadeInDown;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    z-index: 999;
    @include mq(xl){
        display: none;
    }
    .sticky-navbar{
        display: flex;
        height: 75px;
        .sticky-navbar-right{
            display: flex;
            flex-basis: 50%;
            align-items: center;
            justify-content: space-between;
            .sticky-menu{
                @include menu;
                ul{
                    li:hover{
                        .dropdown{
                            transition: all 500ms ease;
                            top: 75px;
                            visibility: visible;
                        }
                    }
                }
            }
            .book-now{
                @include book-now-btn;
                height: 40px;
                padding: 0 10px;
                border: 1px solid $primarycolor;
                background-color: $primarycolor;
            }
        }
        .sticky-navbar-left{    
            flex-basis: 50%;
            display: flex;
            align-items: center;
            .logo{
                img{
                    width: 200px;
                }
            }
        }
    }
}
#hero{
    width: 100%;
    height: 100vh;
    background-image: url(../images/bg1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    .navbar{
        display: flex;
        justify-content: space-between;
        color: $white;
        padding: 10px 0 0 0;
        height: 85px;
        z-index: 1;
        .logo{
            img{
                width: 200px;
            }
        }
        .right-navbar{
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            padding-left: 5px;
            .topright-navbar{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid $white;
                align-items: center;
                height: 40%;
                ul{
                    li{
                        margin: 0px 10px;
                        cursor: pointer;
                    }
                    li:last-child{
                        margin-right: 0;
                    }
                }
                @include mq(xl){
                    display: none;
                }
            }
            .btmright-navbar{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                #burgerBtn{
                    display: none;
                    cursor: pointer;
                    font-size: 30px;
                    @include mq(xl){
                        display: block;
                    }
                }
                .main-menu{
                    height: 100%;
                    @include menu;
                    @include mq(xl){
                        display: none;
                    }
                }
                .book-now{
                    @include book-now-btn;
                    @include mq(xl){
                        display: none;
                    }
                }
                .book-now:hover{
                    background: linear-gradient(180deg, #198BCA 0%, rgba(25, 139, 202, 0.74) 100%);
                    color: #fff;
                }
                @include mq(xl){
                    justify-content: right;
                }    
            }
        }
        @include breakpoint(1620px){
            padding: 10px 80px 0 80px;
        }
    }
    .blur-bg{
        width: 50%;
        height: 100vh;
        background: rgba(86,86,86,0.3);
        backdrop-filter: blur(6px);
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .banner-title{
            width: 80%;
            color: $white;
            padding: 0 12px;
            h1{
                font-family: $kanit;
                font-size: 60px;
            }
            p{
                font-family: $poppins;
                letter-spacing: 1px;
            }
            input{
                width: 75%;
                color: $white;
                padding: 8px 15px;
                outline: none;
                border: 2px solid #fff;
                border-radius: 20px;
                background: transparent;

            }
        }
    }
    .right-col{
        width: 50%;
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .slider{
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            margin-bottom: 50px;
            #btnPrev{
                padding: 0 10px;
                background: rgba(86,86,86,0.1);
                backdrop-filter: blur(6px);
            }
            .preview {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                margin: 0 10px;
                gap: 10px;
                .bgthumb{
                    width: 80px;
                    margin: 0 10px;
                    opacity: 0.5;
                }
                .active{
                    border: 3px solid #fff;
                    width: 120px;
                    opacity: 1;
                }
            }
            #btnNxt{
                padding: 0 10px;
                background: rgba(86,86,86,0.1);
                backdrop-filter: blur(6px);
            }
            i{
                font-family: FontAwesome;
                color: #fff;
                font-size: 36px;
                font-style: normal;
                opacity: 0.5;
                cursor: pointer;
            }
            i:hover{
                opacity: 0.8;
            }
            
        }
        @include breakpoint(1620px){
            padding: 0 80px;
        }
    }
    
}
/*---------------------------------------------- HEADER END ---------------------------------------------------*/
/*---------------------------------------------- MOBILE MENU ---------------------------------------------------*/
#mobileMenu{
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    padding-right: 30px;
    max-width: 100%;
    height: 100%;
    z-index: 999999;
    transition: 0.5s ease;
    #menuBkgrnd{
        position: fixed;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background: $themecolor3;
        z-index: 1;
        transition: 0.5s ease;
    }
    #menuBox{
        @include side-menu-container;
        #closeBtn{
            @include xbutton;
        }
        .menu-logo{
            position: relative;
            padding: 15px 25px 90px 25px;
            text-align: left;
            img{
                width: 225px;
            }
        }
        .menu{
            li{
                position: relative;
                border-top: 1px solid $fieldbordercolor;
                display: flex;
                align-items: center;
                justify-content: space-between;
                #tourSubmenu{
                    @include side-menu-container;
                    @include mobile-submenu;
                    .row-1{
                        @include mobile-row-1;
                        #tourClosebtn{
                            @include xbutton;
                            padding: 0;
                        }
                    }
                }
                #hotelSubmenu{
                    @include side-menu-container;
                    @include mobile-submenu;
                    .row-1{
                        @include mobile-row-1;
                        #hotelClosebtn{
                            @include xbutton;
                            padding: 0;
                        }
                    }
                }
                #pagesSubmenu{
                    @include side-menu-container;
                    @include mobile-submenu;
                    .row-1{
                        @include mobile-row-1;
                        #pagesClosebtn{
                            @include xbutton;
                            padding: 0;
                        }
                    }
                }
            }
            .fa-angle-right{
                width: 50px;
                text-align: center;
                cursor: pointer;
            }
            li:last-child{
                border-bottom: 1px solid $fieldbordercolor;
            }
            a{
                position: relative;
                display: block;
                line-height: 24px;
                padding: 10px 15px;
                font-size: 15px;
                font-weight: 500;
                color: $textcolor;
            }
        }
    }
}

/*---------------------------------------------- ABOUT US ---------------------------------------------------*/
.about-us{
    @include section;
    .left-col{
        display: flex;
        justify-content: center;
        .form{
            width: 539px;
            box-shadow: 0 0px 20px rgb(0 0 0 / 10%);
            margin-top: -55px;
            padding-bottom: 30px;
            height: fit-content;
            z-index: 2;
            .find-place{
            background: #FF7757;
            color: #fff;
            text-align: center;
            max-width: 539px;
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center; 
            margin-bottom: 30px;
            h3{
                font-family: $poppins;
                font-weight: bold;
                margin: 0;
            }
            }
            .form-body{
                display: block;
                text-align: center;
                width: 80%;
                margin: auto;
                .field{
                    width: 100%;
                    position: relative;
                    text-align: center;
                    margin: auto;
                    margin-bottom: 30px;
                }
                select, input{
                    @include form-field;
                }
                .icon{
                    @include form-icon;
                } 
                .field-1{
                    display: flex;
                    gap: 10%;
                    #Adult, #Children{
                        @include form-field;
                    }
                }
                .button{
                    @include btn;
                
                }
            }
            
        }
    }
    .right-col{
        margin-top: 30px;
        h3{
            color: $primarycolor;
        }
        .features{
            display: flex;
            flex-wrap: wrap;
            margin-top: 50px;
            .feat4{
                display: flex;
                align-items: center;
                padding: 20px 0;
                i{
                    color: $secondarycolor;
                    font-size: 20px;
                }
                h4{
                    color: $themecolor1;
                    font-weight: 500;
                    margin: 0 0 0 10px;

                }
            }
        }
    }
}
/*---------------------------------------------- END ABOUT US ---------------------------------------------------*/
/*---------------------------------------------- Perfect Deals & Discounts ---------------------------------------------------*/
.perfect-deals{
    @include section;
    margin-bottom: 100px;
    .title{
        @include title;
    }
    .item-list{
        @include item-thumbnail;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 70px;
    }
}
/*---------------------------------------------- Perfect Deals & Discounts End ---------------------------------------------------*/
/*---------------------------------------------- HIGHLIGHTS ---------------------------------------------------*/
.highlights-section{
    @include section;
    background: $themecolor4;
    margin-bottom: 150px;
    .row{
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        padding: 30px 0;
        .highlights-content{
            min-width: 250px;
        }
        span{
            color: $primarycolor;
        }
    }
}
/*---------------------------------------------- HIGHLIGHTS END---------------------------------------------------*/
/*---------------------------------------- TOP DESTINATIONS ----------------------------------------------------------------*/
.top-destinations{
    @include section;
    .title{
        @include title;
    }
    .row-1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .img-box{
            position: relative;
            padding: 10px;
            .img-caption{
                position: absolute;
                color: $white;
                left: 25px;
                bottom: 30px;
            }
        }
        img{
            width: 100%;
            border-radius: 10px;
        }
        .col-left{
            display: flex;
            flex-basis: 50%;
            justify-content: space-around;
            .img-wrap-1{
                display: flex;
                flex-wrap: wrap;
                flex-basis: 50%;
                justify-content: space-around;
            }
            .img-wrap-2{
                width: 50%;
                display: block;
            }
        }
        .col-right{
            display: inline-block;
            flex-basis: 50%;
            .img-wrap-4{
                display: flex;
                .img-box4a{
                    width: 40%;
                }
                .img-box4b{
                    width: 60%;
                }
            }
        }
        
    }
    
}
/*---------------------------------------- TOP DESTINATIONS END ----------------------------------------------------------------*/
/*---------------------------------------- GO TRAVEL ----------------------------------------------------------------*/
.go-travel{
    position: relative;
    margin-bottom: 200px;
    .container{
        max-width: 1320px;
        .left-col{
            align-items: center;
            display: flex;
            .callback-img{
                max-width: 500px;
                box-shadow: 0 0px 20px rgb(0 0 0 / 10%);
                img{
                    width: 100%;
                }
            }
        }
        }
        .right-col{
            position: relative;
            padding: 100px 0px 100px 50px;
            .callback-info{
                color: $white;
                h1{
                    font-family: $kanit;
                    font-size: 60px;
                    font-weight: bold;
                    letter-spacing: 2px;
                }
                h4{
                    display: inline-block;
                    padding-left: 90px;
                    font-weight: 400;
                    position: relative;
                }
                h4::before{
                    content: "";
                    background: $white;
                    height: 2px;
                    width: 70px;
                    margin-right: 10px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                }
            }
            .callback-counter{
                @include counter-format;
                display: flex;
                flex-wrap: wrap;
            }
            .hotline{    
                display: flex;
                width: 60%;
                padding: 20px;
                background: $white;
                position: absolute;
                justify-content: space-around;
                bottom: -8%;
                left: 20%;
                box-shadow: 0 0px 20px rgb(0 0 0 / 10%);
                .hotline-icon{
                    width: 66px;
                    margin: auto 0;
                    img{
                        width: 100%;
                    }
                }
                .hotline-details{
                    text-align: center;
                    h2{
                        color: $secondarycolor;
                    }
                }
            }
        }
    }
.go-travel:before{
    background-color: $primarycolor;
    content: "";
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
/*---------------------------------------- GO TRAVEL END ----------------------------------------------------------------*/
/*---------------------------------------- TRAVEL GUIDINGS ----------------------------------------------------------------*/
.travel-guide{
    position: relative;
    margin-bottom: 150px;
    .container{
        max-width: 1320px;
        .title{
            @include title;
        }
        .left-col{
            @include travel-blog;
            flex-basis: 40%;
            .blog-image{
                width: 100%;
            }
            .blog-author{
                margin-top: 20px;
                img{
                    width: 45px;
                    margin-right: 15px;
                }
            }
        }
        .right-col{
            @include travel-blog;
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            .blog-info-2{
                h4{
                    border-bottom: none;
                }
            }
        }
    }
    
}
/*---------------------------------------- TRAVEL GUIDINGS END----------------------------------------------------------------*/
/*--------------------------------------------- TESTIMONIALS ----------------------------------------------------------------*/
.testimonials{
    background-color: $themecolor5;
    padding: 50px 0;
    margin-bottom: 150px;
    .title{
        @include title;
    }
    .feedback{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .feedback-box{
            position: relative;
            flex-basis: 32%;
            min-width: 280px;
            background-color: #fff;
            padding: 60px 40px 20px 40px;
            border-radius: 12px;
            img{
                width: 100px;
                position: absolute;
                top: -50px;
                left: 40px;
            }
            .rating{
                @include rating;
                margin: 4px 0 10px 0;
            }
        }
    }
}
/*--------------------------------------------- TESTIMONIALS END ----------------------------------------------------------------*/
/*--------------------------------------------- PARTNERS ----------------------------------------------------------------*/
.partners{
    margin-bottom: 150px;
    .title{
        @include title;
    }
    .partner-logo{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        .partner-col{
            width: 266px;
            margin-bottom: 30px;
            padding: 0 20px;
            img{
                width: 100%;
                cursor: pointer;
                filter: grayscale(100%);
                opacity: 50%;
            }
            img:hover{
                filter: grayscale(0);
                opacity: 100%;
            }
        }
    }
}
/*--------------------------------------------- PARTNERS END ----------------------------------------------------------------*/
/*--------------------------------------------- BANNER PROMO ----------------------------------------------------------------*/
.banner-promo{
    color: $white;
    .col-left{
        background-color: $primarycolor;
        text-align: center;
        padding: 100px 50px;
        .button{
            @include btn;
            background-color: $themecolor3;
            width: 208px;
        }
    }
    h2{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 40px;
    }
    h1{
        font-size: 45px;
        font-weight: bold;
        margin-bottom: 40px;
    }
    .col-right{
        background: url(../images/bg6.jpg) no-repeat;
        padding: 100px 50px;
        text-align: center;
        background-attachment: fixed;
        background-size: cover;
        position: relative;
        .button{
            @include btn;
            width: 208px;
        }
    }
}
/*--------------------------------------------- BANNER PROMO END ----------------------------------------------------------------*/
/*--------------------------------------------- FOOTER ----------------------------------------------------------------*/
.footer{
    background: $themecolor3;
    padding-top: 80px;
    color: $white;
    .row-top, .row-bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    h4{
        position: relative;
        font-weight: bold;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
    h4:after{
        position: absolute;
        content: '';
        height: 2px;
        width: 50px;
        background: $white;
        left: 0;
        bottom: 0;
    }
    .col-1{
        flex-basis: 25%;
        img{
            width: 276px;
            margin-bottom: 16px;
        }
    }
    .col-2{
        flex-basis: 15%;
    }
    .col-3{
        flex-basis: 15%;
    }
    .col-4{
        flex-basis: 30%;
        input{
            @include form-field;
            padding-left: 10px;
            margin-bottom: 16px
        }
        .button{
            @include btn;
            width: 100%;
        }
    }
    .row-bottom{
        padding: 20px 0 10px 0;
        border-top: 1px solid $themecolor6;
        align-items: center;
        .copyrights{
            width: auto;
        }
        .social-media{
            font-size: 32px;
            width: auto;
            ul{
                display: flex;
                li{
                    padding: 0 20px;
                }
                li:last-child{
                    padding-right: 0;
                }
            }
        }
    }
    li{
        display: block;
        margin-bottom: 16px;
    }
}
/*--------------------------------------------- FOOTER END ----------------------------------------------------------------*/
/*--------------------------------------------- SCROLL UP ARROW BUTTON ----------------------------------------------------------------*/
#scroll-top {
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    right: 15px;
    font-size: 30px;
    z-index: 99;
    color: #fff;
    background-color: $primarycolor;
    border: none;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    transition: 1s ease;
}
/*--------------------------------------------- SCROLL UP ARROW BUTTON END ----------------------------------------------------------------*/