@use '../abstracts' as *;
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&family=Poppins:wght@400;500&family=Rubik:wght@400;500;700&display=swap');


h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 28px;
    font-weight: 400;
}
h4 {
    font-size: 20px;
    font-weight: 400;
}
small{
    font-size: 14px;
}
x-small{
    font-size: 12px;
}