@use './variables' as *;

@mixin form-field{
    width: 100%;
    height: 50px;
    border: 1px solid #dcdcdc;
    color: #777;
    font-size: 15px;
    outline: none;
    padding-left: 30px;
}
@mixin form-icon{
    position: absolute;
    color: #777;
    padding: 0 5px;
    top: 12px;
    left: 5px;
} 
@mixin field-icon{
    height: 50px;
    border: 1px solid #dcdcdc;
}
@mixin btn{
    display: inline-block;
    color: #fff;
    background: #198BCA;
    height: 50px;
    padding: 10px;
    margin: 5px;    
    width: 160px;
    border-radius: 5px;
    border: none;
}
@mixin section{
    display: block;
    margin-bottom: 150px;
}
@mixin title{
    text-align: center;
    margin-bottom: 50px;
    h1{
        margin-bottom: 56px;
    }
    h1:after{
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    height: 3px;
    width: 10%;
    display: block;
    margin: 28px auto;
    background: #198BCA;
    }
    span{
        color: #FF7757;
        font-weight: bold;
    }
    
}
@mixin item-thumbnail{
    .deal{
        position: relative;
        display: block;
        width: 350px;
        padding-bottom: 5px;
        margin-bottom: 70px;
        box-shadow: 0 0px 20px rgb(0 0 0 / 10%);
        border-radius: 0 0 10px 10px;
        .ribbon{
            width: 150px;
            height: 150px;
            overflow: hidden;
            position: absolute;
            top: -10px;
            left: -10px;
            z-index: 2;
            span{
                position: absolute;
                display: block;
                width: 225px;
                padding: 10px 0;
                background-color: #FF7757;
                box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
                color: #fff;
                font-size: 18px;
                text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
                text-align: center;
                right: -25px;
                top: 40px;
                transform: rotate(-45deg);
            }
        }
        .tour-img img{
            width: 100%;
            height: 300px;
            border-radius: 10px 10px 0 0;
        }
        .tour-info{
            display: block;
            text-align: left;
            margin-top: 19px;
            padding: 0 10px;
            .rate-price{
                display: flex;
                justify-content: space-between;
                margin-bottom: 19px;
                h4{
                    color: #198BCA;
                }
                i{
                    color: #FFC107;
                    font-size: 14px;
                }
            }
            .guarantee{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 19px 0;
            }
        }
    }
}
@mixin counter-format{
    .counter-cell{
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        align-items: center;
        padding: 25px 25px 18px 25px;
        gap: 25px;
        color: $white;
        .counter-icon{
            width: 52px;
            margin: auto 0px;
            img{
                width: 100%;
            }
        }
        .counter-details{
            display: flex;
            flex-direction: column;
            text-align: center;
            .num{
                font-family: $kanit;
                font-size: 36px;
                font-weight: bold;
            }
        }
    }
}
@mixin travel-blog{
    .blog-thumb{
        max-width: 369px;
        margin: 0 12px 12px 12px;
    }
    .blog-image{
        width: 369px;
        img{
            width: 100%;
        }
    }
    .blog-info-1{
        li{
            display: inline-block;
            margin-right: 20px;
            padding: 20px 0;
            i{
                color: $secondarycolor;
            }
            small{
                font-style: italic;
            }
        }
    }
    .blog-info-2{
        h4{
            font-weight: bold;
            padding: 20px 0;
            border-top: 1px dashed $fieldbordercolor;
            border-bottom: 1px dashed $fieldbordercolor;
        }
    }
}
@mixin rating{
    font-size: 14px;
    color: $themecolor2;
}
@mixin menu{
        height: 100%;
        ul{
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            li{
                position: relative;
                align-items: center;
                display: flex;
                margin: 0;
                padding: 0 20px;
                cursor: pointer;
                .fa{
                    margin-left: 3px;
                }
                .dropdown{
                    position: absolute;
                    display: block;
                    left: 0;
                    top: 60px;
                    min-width: 250px;
                    height: auto;
                    visibility: hidden;
                    background: #fff;
                    font-size: 15px;
                    color: #555;
                    box-shadow: 0 6px 10px rgb(0 0 0 / 15%);
                    z-index: 3;
                    .dropdown-2{
                        position: absolute;
                        display: block;
                        left: 100%;
                        top: 0;
                        right: auto;
                        min-width: 250px;
                        background: #fff;
                        height: auto;
                        color: #555;
                        transform: scaleY(0);
                        transform-origin: 0 50%;
                        visibility: hidden;
                    }
                    .submenu{
                        padding: 10px 20px;
                        border-bottom: 1px solid $fieldbordercolor;
                        i{
                            position: absolute;
                            right: 15px;
                            top: 15px;
                        }
                    }
                    li:last-child{
                        border: 0;
                    }
                }
                .submenu:hover{
                    .dropdown-2{
                        transition: all 500ms ease;
                        transform: scale(1, 1);
                        visibility: visible;
                    }
                }
            }
            li.active{
                background: linear-gradient(180deg, #198BCA 0%, rgba(25, 139, 202, 0.74) 100%);
                color: $white;
            }
            li:hover{
                background: linear-gradient(180deg, #198BCA 0%, rgba(25, 139, 202, 0.74) 100%);
                color: $white;
                .dropdown{
                    transition: all 500ms ease;
                    top: 50px;
                    visibility: visible;
                }
            }
        }
    }
@mixin book-now-btn{
    border: 1px solid #fff;
    height: 80%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}
@mixin xbutton{
    position: relative;
    right: 0px;
    top: 0px;
    padding: 15px 15px 0px 15px;
    border: none;
    text-align: right;
    font-size: 30px;
    color: $textcolor;
    cursor: pointer;
}
@mixin side-menu-container{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: $white;
    padding: 0px 0px;
    opacity: 1;
    overflow: scroll;
    visibility: visible;
    z-index: 1;
}
@mixin mobile-submenu{
    position: fixed;
    width: 300px;
    right: -300px;
    transition: 0.5s ease;
}
@mixin mobile-row-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}